.promo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 400px;
  width: 100%;
  background-image: url('../../img/banner-background.jpg');
  background-repeat: no-repeat;
  // background-color: $branded-blue;
}

.promo__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 268px;
  margin-right: 181px;
  margin-top: 102px;
}

.promo__header {
  display: block;
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  color: $light-gray;
  margin: 0;
  margin-bottom: 7px;
}

.promo__text {
  display: block;
  font-size: 22px;
  line-height: 26px;
  color: $text-gray;
  margin: 0;
  margin-bottom: 34px;
}

.promo__link {
  font-size: 18px;
  padding-top: 17px;
  padding-bottom: 18px;
  text-align: center;
  background-color: $light-gray;
  border-radius: 4px;
  margin: 0;
  width: 234px;
  cursor: pointer;
  color: $text-black;
  text-decoration: none;

  &:hover {
    background-color: $promo-link-hover;
  }
}

.promo__pics {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 247px;
  width: 398px;
  height: 240px;
}

.promo__card-white {
  position: absolute;
  z-index: 1;
  left: 86px;
  bottom: 31px;
}

.promo__card-black {
  position: absolute;
  z-index: 2;
  top: 39px;
  right: 86px;
}
