body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 1366px; */
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}

.header__logo {
  display: block;
  margin-top: -10px;
  margin-left: 98px;
  margin-bottom: 39px;
  margin-right: 58px;
}

.header__list {
  display: flex;
  margin: 0;
  list-style: none;
}

.header__list-item:not(:last-child) {
  margin-right: 25px;
}

.header__authorization {
  margin-left: 140px;
  margin-right: 97px;
}

.header__authorization-link {
  display: block;
}

.main {
  width: 1366px;
}

.main__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: blue;
}

.banner__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 268px;
  margin-right: 181px;
}

.banner__header {
  display: block;
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  color: #F6F7FF;
  margin: 0;
}

.banner__text {
  display: block;
  font-size: 22px;
  line-height: 26px;
  color: #E0E1EA;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;
}

.banner__link {
  padding-top: 19px;
  padding-bottom: 21px;
  text-align: center;
  background-color: #F6F7FF;
  border-radius: 4px;
  margin: 0;
  width: 234px;
  cursor: pointer;
}

.banner__pics {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 247px;
  width: 398px;
  height: 240px;
}

.banner__card-white {
  position: absolute;
  z-index: 1;
  left: 94px;
  bottom: 43px;
}

.banner__card-black {
  position: absolute;
  z-index: 2;
  top: 58px;
  right: 78px;
}

.converter {
  margin: 0 98px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.converter__header {
  font-size: 32px;
  line-height: 58px;
  font-weight: 700;
  color: #1F1E25;
}

.converter__form {
  display: grid;
  grid-template-columns: 525px 525px;
  grid-row-gap: 85px; 
  justify-content: space-between;
}

.form__item {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  position: relative;
  height: 106px;
}

.form__item-label {
  display: block;
  width: 216px;
}

.form__item-input {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  height: 20px;
  width: 300px;
  padding: 18px 43px;
  margin: 0;
  margin-right: 15px;
}

.form__item-input::-webkit-outer-spin-button,
.form__item-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form__currency {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.form__currency-selector {
  display: block;
  font-size: 24px;
  line-height: 42px;
  padding:  8px;
  padding-left: 18px;
  border: 1px solid #1F1E25;
  border-radius: 4px;
  box-sizing: border-box;
  height: 60px;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  appearance: none;
}

.form__submit {
  display: block;
  margin-left: 145px;
  width: 382px;
  height: 60px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #2C36F2;
  color: #F6F7FF;
}

.main__history {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 98px;
  margin-bottom: 110px;
  padding: 40px 70px;
  background-color: #F6F7FF;
}

.history__header {
  display: block;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #1F1E25;
  margin: 0;
}

.history__list {
  display: grid;
  grid-template-columns: 392px 392px;
  grid-template-rows: 16px;
  grid-row-gap: 33px;
  grid-column-gap: 247px;
  list-style: none;
  margin: 50px 0;
  padding: 0;
}

.history__item {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
}

.history__item-text {
  display: block;
  margin: 0;
  padding: 0;
}

.history__item-date {
  margin-right: 40px;
}

.history__item-value {
  margin-right: 53px;
}

.history__button-clear {
  width: 198px;
  height: 51px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F6F7FF;
  background-color: #2C36F2;
  border: none;
  border-radius: 4px;
}

.footer {
  width: 100%;
  background-color: #F6F7FF;
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0;
  margin: 0;
}

.footer__company {
  width: 252px;
  height: 88px;
  font-size: 12px;
  color: #707C87;
  line-height: 17px;
  margin-top: -11px;
  margin-right: 80px;
}

.footer__company-info {
  display: block;
  margin: 0;
  padding: 0;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 80px;
}

.footer__item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #1F1E25;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__phone {
  margin-right: 80px;
}

.footer__phone-header {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #1F1E25;
  margin: 0;
  padding: 0;
}

.footer__phone-text {
  display: block;
  width: 167px;
  font-size: 12px;
  line-height: 16px;
  color: #707C87;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.footer__socials {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials__item:not(:last-child) {
  margin-right: 20px;
}
